<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1"/>
<title>Insert title here</title>
</head>
<body>
	<h2>Add User</h2>
	<form action="../users/validate" method="GET">
		<table border="1">
			<tbody>
				
				<tr>
					<th>Email</th>
					<td><input type="email" name="email" required="required" />
					</td>
				</tr>
				<tr>
					<th>Password</th>
					<td><input type="password" name="password" required="required" />
					</td>
				</tr>
				<tr>
					<td>
						<button type="submit">Submit</button>
					</td>
				</tr>
			</tbody>
		</table>
	</form>
	<a href="../users/list">List Users</a>
</body>
</html>